.heading{
  margin-top: 7rem;
  text-align: center;
}
.button-container {
  display: flex;
  gap: 15px; /* Adjust the space between the two buttons */
  justify-content: center;
  margin-top: 10px; /* Adds spacing above the buttons */
}

.button-wrapper {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Add spacing between the buttons */
  align-items: center; /* Center the buttons horizontally */
  margin-top: 10px; /* Add spacing above the buttons */
}
